@{
  ViewData["Title"] = "About Us";
}

<section id="about" class="about">
  <div class="container">

    <div class="row justify-content-between">

      <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
        <img src="~/assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
      </div>

      <div class="col-lg-6 pt-5 pt-lg-0 mt-2">
        
        <h4 data-aos="fade-up">Was founded</h4>
        <p data-aos="fade-up" data-aos-delay="100">
          Union Distribution was founded in 2011 in Prague, Czech Republic. At the moment the company has more than 60 employees
          in its structures, in the Czech Republic, Russia, Belarus, Ukraine, Moldova, Georgia, Kazakhstan, Poland, United Arab Emirates.
        </p>

        <div class="row">
          <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-receipt"></i>
            <h4>Group of companies</h4>
            <p>
              Union Distribution is a group of companies with a developed infrastructure of representative offices,
              logistics centers, production sites operating in Europe, the Middle East, the Caucasus, Central Asia and other regions.
              The mission of the company is to unite geographically distant markets into a single conglomerate of goods and services,
              meet the demand of market segments through efficient resource management, using modern technologies for product development and distribution.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-cube-alt"></i>
            <h4>Сonducts Marketing </h4>
            <p>
              The company conducts marketing on the study of the characteristics and preferences of consumers, segments markets,
              creates a pool of products with these features in mind and provides financial and logistical services,
              which is the leading competitive advantage that distinguishes it from isolated locally regional enterprises.
              Thus, Union Distribution is a bridge between the producer and consumer, the bridge between Europe and Asia,
              being the vehicle for new solutions and products to markets, accelerating the processes of penetration of modern goods into society.
              The product portfolio contains catalogs of solutions and products from global brands and OEM manufacturers for mass markets,
              as well as corporate consumers: televisions, robotic vacuum cleaners, gadgets, climate technology, air cleaners,
              smart lighting, large-scale and small-scale appliances.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-cylinder"></i>
            <h4>Focuses</h4>
            <p>
              The company focuses on finding IoT solutions for goods and integrating them into the product portfolio,
              works to localize goods and efficient their conclusions on the markets, responding to the challenges of the new time and
              following the paradigm of convergence of information and digital technologies in modern products.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->